torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
transformers==4.36.0
accelerate==0.25.0
bitsandbytes==0.41.3
scipy==1.11.4
sentencepiece==0.1.99
protobuf==6.32.1
pandas==2.3.2
peft==0.7.1
evaluate==0.4.1
datasets==2.16.1
python-dotenv==1.0.0
